body {
	background-color: black;
	color: white;
}
div.checkboxes {
	float: left;
	background-color: gray;
	margin-right: 15px;
	color: white;
}

img {
	width: 5%;
	height: 5%;
	border: 1px solid white;
}
img#firstPicture {
	width: 10%;
	height: 10%;
	border: 2px solid white;
}
.description {
	cols: 150;
}

/*EXPERIMENTING!*/

div#btns1 #myBtnNo1:select {
	background-color: red;
	width: 250px;
	padding-left: 20px;
}
div#btns1 #myBtnYes1:select {
	background-color: green;
	width: 250px;
	padding-left: 20px;
}