/*fFOR OLDER BROWSERS*/
header, section, footer, aside, nav, article {
    display: block; 
}

/*----------BACKGROUND-----------*/
body {
	background-image: url("../img/background.jpg");
	background-position: center top;
	background-size: 100% auto;
	background-repeat: repeat-y;/*Not needed because of fixed*/
	background-attachment: fixed;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/*-------------HEADER-------------*/
header {
	font-size: 2.5em;
	font-weight: xxbold;
	width: 90%;
	margin: 0 auto;
	background-color: none;
}
img#hero {
	float: left;/*Layered on top of page*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;/*Set above all else*/
}
h1 {
	margin: 0;
	visibility: hidden;/*For visually empared*/
	text-shadow: 4px 4px 18px black;
	text-align: center;
	margin-top: 20px;
}

/*----------------NAV---------------*/
nav {
	width: 90%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
ul#nav {
	text-align: center;
	padding: 5px 20px;
	text-shadow: 2px 2px 9px black;
}
ul#nav li {
	width: 90%;
	background-color: none;
	display: inline;
	color: yellow;
	font-size: 1.5em;
	padding: 5px 40px 0 40px;
	margin-bottom: 0;
}

/*DIV WRAPPER (Wraps everything after header)*/
div#wrapper {
	width: 90%;
	background-color: black;
	margin: 0 auto;
}
li a.nav1 {
	text-decoration: none;
}
li a:link.nav1 {
	color: yellow;
}
li a:visited.nav1 {
	color: yellow;
}
li a:hover.nav1 {
	color: white;
	text-decoration: none;
	background-color: black;
	padding: 5px 0 30px 0;
}
li a:active.nav1 {
	color: purple;
}

/*----------SECTION-----------*/
section {
	color: white;
	margin: 0 auto;
	padding: 10px 20px;
}
img.img1 {
	width: 200;
	height: 200;
	border: 10px solid white;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	color: yellow;
}
h2.title, p.price, p.disc {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: 2px 2px 9px gray;
}
h2.title {
	font-size: 1.8em;
	margin-top: 7px;
}
p.price {
	font-size: 1.6em;
}
p.disc {
	font-size: 1.2em;
	margin-right: 18%;
	margin-left: 28%;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
	line-height: 175%;
	font-weight: 200; /*not working*/
	border: 1px solid white;
	border-radius: 10px;
}
div.purchase {
	margin-left: 323px;
}
img.line {
	width: 95%;
	height: 30px;
	margin: 30px auto 0 auto;
}

/*------------ASIDE------------*/
aside {
	position: fixed;
	left: 79.6%;
	top: 88px;
	width: 200px;
	background-color: #F5F5DC;
}
ul#aside {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #8B4513;
	text-shadow: 2px 2px 9px black;
	list-style: none;
	line-height: 180%;
	padding-left: 15px;
}
a:link.asideli {
	color: #8B4513;
}
a:visited.asideli {
	color: #8B4513;
}
a:hover.asideli {
	color: yellow;
	text-decoration: underline;
	text-decoration: none;
	background-color: #F5F5DC;
	padding: 0;
}
a:active.asideli {
	color: #8B4513;
}
input#searchbox {
    background-color: #eaf8fc;
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #8B4513 #8B4513 #8B4513;            
    width: 150px;
    height: 20px;
    padding: 0px;
    margin: 0px auto;
    overflow: hidden; /* Clear floats */
}

/*----------FOOTER-----------*/
footer {
	clear: both;/*Clear floating*/
	background-color: blue;
	color: white;
}
footer div small {
	color: white;
}
div#footR {
	float: right;
	margin: 30px 5% 30px 0;
}
div#footL {
	float: left;
	color: white;
	margin: 30px 0 30px 5%;
}

/*-------------A HREF-------------*/
a {
	text-decoration: none;
}
a:link {
	color: yellow;
}
a:visited {
	color: yellow;
}
a:hover {
	color: white;
}
a:active {
	color: purple;
}

/*--------EXPERIMENTING--------*/

hr {
	clear: both;
	width: 100%;
}

img.imgExpand {
	float: left;
	/*Pushing text off to the right*/
	margin-right: 20px;
    /* This is necessary for position:absolute to work as desired */
    position: relative;
    /* Preventing zoomed images to grow outside their elements */
    overflow: hidden;
    /* Stretching the images to fill whole elements */
    width:       25%;
    height:      25%;
    /* Preventing blank space below the image */
    line-height: 0;
    /* Changing transition duration */
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
    border: 5px solid white;
    margin-top: 10px;
}

img.imgExpand:hover {
    /* Making images appear bigger and transparent on mouseover */
    opacity: 10;
    width:   82%;
    height:  82%;
}
