body {
	margin: 0;
	background-color: linen;
	font-family: 'Dosis', sans-serif;
}
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
}
h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
}
div.descriptionL {
    clear: both;
    display: inline-block;
    position: relative;
    float: left;
    width: 600px;
    height: 400px;
    z-index: 1;
}
div.descriptionR {
    display: inline-block;
    position: relative;
    float: right;
    right: 0;
    float: right;
    width: 390px;
    height: 400px;
    padding-left: 10px;
}
p.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.main-wrapper {
    display:block;
    margin:0 auto;
} 
.main-wrapper h1 {
    text-align: center;
}
.main-wrapper .box {
    border: 10px solid #fff;
    cursor: pointer;
    height: 150px;
    width: 200px;
    float: left;
	margin: 0 30px 30px 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
	box-shadow: 1px 1px 9px black;       
}
.main-wrapper .box img {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}
.main-wrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 1;
    transition: all 300ms ease-out;
    left: 0;
}
.main-wrapper .box .fade-caption {
    opacity: 0;
    width: 190px;
    height: 190px;
    text-align: left;
    padding: 15px;
}
.main-wrapper .box:hover .fade-caption {
    opacity: .8;
}
.box .link {
    color:orange;
}
.main-wrapper {
    background-color: linen;
    width:100%;
    float right;
}




