
body {
	margin: 0;
	background-color: linen;
	font-family: 'Dosis', sans-serif;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
/*-------------------------------------------*/

/*-------------------------------------------*/
/*------------------header-------------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 110px;
	background-color: linen;
	z-index: 10;
}
.headl {
	float: left;
	width: 250px;
}
#logo {
	width: 250px;
	margin-top: 10px;
}
.headr {
	float: right;
	width: 747px;
	margin-top: 40px;
	text-align: right;
}
.headc li {
	display: inline-block;
	margin-left: 15px;
}
.headc a {
	color: black;
	text-decoration: none;
	text-shadow: 2px 2px 12px black;
}
.headc a:hover {
	color: gray;
	text-decoration: underline;
	text-shadow: 2px 2px 9px linen;
}
.headc a:visited {
	color: black;
	text-decoration: none;
	text-shadow: 2px 2px 9px black;
}
.headc a:active {
	color: black;
	text-decoration: none;
	text-shadow: 2px 2px 9px black;
}
button {
	box-shadow: 2px 2px 9px black;
}
select {
	display: inline-block;
	box-shadow: 2px 2px 9px black;
}
/*----------------end header-----------------*/

/*-------------------------------------------*/
/*---------------home main-------------------*/
.spacer {
	clear: both;
	height: 110px;
	width: 1000px;
}
div.homel {
	clear: both;
	float: left;
}
.homepic {
	width: 470px;
	height: 350px;
	margin-top: 40px;
	border: 10px solid white;
	box-shadow: 3px 3px 9px black;
  	transform: rotate(2deg);
 }
div.homer {
	float: right;
}
.roomname {
	padding: 8px 5px 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 9px black;
	margin-right: 30px;
}
/*--------------end home main----------------*/

/*-------------------------------------------*/
/*----------------room page------------------*/
.one img{
	float: left;
	border: 10px solid white;
	box-shadow: 1px 1px 9px black;
	width: 200px;
	height: 150px;
	margin: 0 30px 30px 0;
}
/*--------------end room page----------------*/


/*-------------------------------------------*/
/*------------description page---------------*/
.descriptionL img{
	width: 600px;
	height: 400px;
}
.descriptionL img:hover {
	float: left;
	/*Pushing text off to the right*/
	margin-right: 20px;
    /* This is necessary for position:absolute to work as desired */
    position: relative;
    /* Preventing zoomed images to grow outside their elements */
    overflow: hidden;
    /* Stretching the images to fill whole elements */
    width:       1000px;
    height:      800px;
    /* Preventing blank space below the image */
    line-height: 0;
    /* Changing transition duration */
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
}
img.imgExpand {
	float: left;
	/*Pushing text off to the right*/
	margin-right: 20px;
    /* This is necessary for position:absolute to work as desired */
    position: relative;
    /* Preventing zoomed images to grow outside their elements */
    overflow: hidden;
    /* Stretching the images to fill whole elements */
    width:       25%;
    height:      25%;
    /* Preventing blank space below the image */
    line-height: 0;
    /* Changing transition duration */
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
}
/*-----------end description page-----------*/


/*------------------------------------------*/
/*----------------About Us------------------*/
#mountains {
	float: right;
	position: relative;
	right: 0;
	bottom: 105px;
	border: 6px solid white;
	box-shadow: 2px 2px 9px black;
}
/*---------------End About Us---------------*/


/*------------------------------------------*/
/*------------------footer------------------*/
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	clear: both;
	background-color: #cccccc;
}
.footl {
	position: relative;
	float: left;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 20px;
	width: 800px;
}
.footl p {
	display: inline-block;
	margin-top: 0;
}
.footl pre { /*add spaces between content*/
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
}
#facebook {
	width: 45px;
	height: 45px;
}
footer img {
	vertical-align: middle;
}
.footr {
	position: relative;
	float: right;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 20px;
	width: 130px;
	text-align: right;
}
.footr p {
	display: inline-block;
	margin-top: 13px;
	font-size: .8em;
}
a:link {
	color: black;
    text-decoration: none;
}

a:visited {
	color: black;
    text-decoration: none;
}

a:hover {
	color: gray;
    text-decoration: underline;
}

a:active {
	color: black;
    text-decoration: underline;
}
/*----------------end footer----------------*/



/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/